export(border_summary_count)
export(border_summary_length)
export(centroid)
export(checkerboard)
export(circle)
export(complete_color)
export(dorling)
export(geocenter)
export(grid.sim)
export(grid_cart)
export(map_scaling)
export(nbrlist)
export(nnbr)
export(pointinsquares)
export(polish_cart)
export(polygon_scaling)
export(Rcartogram)
export(rnbr)
export(square)
export(which.trim)
